.container {
    padding: 1em;
}
#phpIM-new-conversation label {
    width: 227px;
}

.form-inline {
    margin: 1em 0 1em 0;
}

#phpIM-set-username {
    margin-left: 0.5em;
}

#get-available-conversations {
    margin-bottom: 1em;
}

.phpIM-message-area {
    height: 10em;
    overflow-y: scroll;
}

.phpIM-send-message textarea {
    width: 97%;
}

.small {
    font-size: 12px;
}

span.time-stamp {
    float: right;
    color: grey;
    font-size: 70%;
}

